<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositions</key>
	<array>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedText1Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgYXR0cmlidXRl
					OiBUeXBlfQ==
					</data>
					<key>attributedText2Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgb3BlcmF0aW9u
					KCl9
					</data>
					<key>attributedText3Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgVH0=
					</data>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgSVRlcnJhaW5H
					ZW5lcmF0b3J9
					</data>
					<key>attributesHidden</key>
					<false/>
					<key>className</key>
					<string>Classifier</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{83, 96}, {106, 76}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>6D3880CA-23FC-4FC3-A33C-8BE34B876B02</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>isInstance</key>
					<false/>
					<key>isInterface</key>
					<false/>
					<key>isTemplate</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>operationsHidden</key>
					<false/>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>3</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Class</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedText1Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgYXR0cmlidXRl
					OiBUeXBlfQ==
					</data>
					<key>attributedText2Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgb3BlcmF0aW9u
					KCl9
					</data>
					<key>attributedText3Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgVH0=
					</data>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgVGVycmFpbn0=
					</data>
					<key>attributesHidden</key>
					<false/>
					<key>className</key>
					<string>Classifier</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{260, 96}, {121, 78}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>6F7E3E8E-CDC4-4F64-857D-CCB9F745C0BA</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>isInstance</key>
					<false/>
					<key>isInterface</key>
					<false/>
					<key>isTemplate</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>operationsHidden</key>
					<false/>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>3</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Class</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>0</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{189, 135}, {71, 0}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>EB6195BD-F5A1-4273-8F56-47F2C1BDA4B8</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>1</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedText1Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgYXR0cmlidXRl
					OiBUeXBlfQ==
					</data>
					<key>attributedText2Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgb3BlcmF0aW9u
					KCl9
					</data>
					<key>attributedText3Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgVH0=
					</data>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgVGlsZX0=
					</data>
					<key>attributesHidden</key>
					<false/>
					<key>className</key>
					<string>Classifier</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{445, 94}, {110, 89}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>91F54B7D-4C6C-4482-8E06-C057582871E1</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>isInstance</key>
					<false/>
					<key>isInterface</key>
					<false/>
					<key>isTemplate</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>operationsHidden</key>
					<false/>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>3</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Class</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>5</integer>
					<key>arrowTypeB</key>
					<integer>25</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{445, 139}, {-64, 0}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>583316D9-482B-4F9D-B42A-D7EB70324ABC</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>1</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedText1Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgYXR0cmlidXRl
					OiBUeXBlfQ==
					</data>
					<key>attributedText2Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgb3BlcmF0aW9u
					KCl9
					</data>
					<key>attributedText3Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgVH0=
					</data>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgSUJ1aWxkaW5n
					fQ==
					</data>
					<key>attributesHidden</key>
					<false/>
					<key>className</key>
					<string>Classifier</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{447, 248}, {108, 90}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>83B9B4F2-9C2C-448A-81A9-A08B8FDBCCD2</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>isInstance</key>
					<false/>
					<key>isInterface</key>
					<false/>
					<key>isTemplate</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>operationsHidden</key>
					<false/>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>3</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Class</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>25</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{500, 248}, {0, -65}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>F1FACED7-39EE-4450-8C4C-4A50B8BD99B1</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>1</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedText1Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgYXR0cmlidXRl
					OiBUeXBlfQ==
					</data>
					<key>attributedText2Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgb3BlcmF0aW9u
					KCl9
					</data>
					<key>attributedText3Data</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgVH0=
					</data>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxNTYxXGNvY29hc3VicnRmNDAwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O1xyZWQw
					XGdyZWVuMFxibHVlMDt9CntcKlxleHBhbmRl
					ZGNvbG9ydGJsOztcY3NnZW5lcmljcmdiXGMw
					XGMwXGMwO30KXHBhcmRcdHg1NjBcdHgxMTIw
					XHR4MTY4MFx0eDIyNDBcdHgyODAwXHR4MzM2
					MFx0eDM5MjBcdHg0NDgwXHR4NTA0MFx0eDU2
					MDBcdHg2MTYwXHR4NjcyMFxwYXJkaXJuYXR1
					cmFsXHFjXHBhcnRpZ2h0ZW5mYWN0b3IwCgpc
					ZjBcZnMyNCBcY2YyIFx1cDAgSVJvYWR9
					</data>
					<key>attributesHidden</key>
					<false/>
					<key>className</key>
					<string>Classifier</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{281, 248}, {100, 78}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>A5E23197-4580-481E-B119-0E8F988BFEAD</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>isInstance</key>
					<false/>
					<key>isInterface</key>
					<false/>
					<key>isTemplate</key>
					<false/>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>operationsHidden</key>
					<false/>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>3</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Class</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>25</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{354, 248}, {91, -90}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>9EF701B3-AF27-4D7A-993E-C32CEDFA3DBA</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string></string>
					<key>stroke2Enabled</key>
					<false/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>1</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
			</array>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>EB6195BD-F5A1-4273-8F56-47F2C1BDA4B8</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>6D3880CA-23FC-4FC3-A33C-8BE34B876B02</string>
					<key>shapeRatio</key>
					<real>0.51315789473684215</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>583316D9-482B-4F9D-B42A-D7EB70324ABC</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>6F7E3E8E-CDC4-4F64-857D-CCB9F745C0BA</string>
					<key>shapeRatio</key>
					<real>0.55128205128205132</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>EB6195BD-F5A1-4273-8F56-47F2C1BDA4B8</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>6F7E3E8E-CDC4-4F64-857D-CCB9F745C0BA</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>F1FACED7-39EE-4450-8C4C-4A50B8BD99B1</string>
					<key>shapeEdge</key>
					<integer>2</integer>
					<key>shapeIdentifier</key>
					<string>83B9B4F2-9C2C-448A-81A9-A08B8FDBCCD2</string>
					<key>shapeRatio</key>
					<real>0.49074074074074076</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>583316D9-482B-4F9D-B42A-D7EB70324ABC</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>91F54B7D-4C6C-4482-8E06-C057582871E1</string>
					<key>shapeRatio</key>
					<real>0.5056179775280899</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>9EF701B3-AF27-4D7A-993E-C32CEDFA3DBA</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>91F54B7D-4C6C-4482-8E06-C057582871E1</string>
					<key>shapeRatio</key>
					<real>0.7191011235955056</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>F1FACED7-39EE-4450-8C4C-4A50B8BD99B1</string>
					<key>shapeEdge</key>
					<integer>3</integer>
					<key>shapeIdentifier</key>
					<string>91F54B7D-4C6C-4482-8E06-C057582871E1</string>
					<key>shapeRatio</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>9EF701B3-AF27-4D7A-993E-C32CEDFA3DBA</string>
					<key>shapeEdge</key>
					<integer>2</integer>
					<key>shapeIdentifier</key>
					<string>A5E23197-4580-481E-B119-0E8F988BFEAD</string>
					<key>shapeRatio</key>
					<real>0.72999999999999998</real>
				</dict>
			</array>
			<key>constrainAspectRatio</key>
			<false/>
			<key>contentFilterSpecs</key>
			<array/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>1.000000:1.000000:1.000000:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>3</real>
			<key>fillShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>fillShadowHidden</key>
			<false/>
			<key>fillShadowOffsetX</key>
			<real>2</real>
			<key>fillShadowOffsetY</key>
			<real>2</real>
			<key>fillType</key>
			<integer>0</integer>
			<key>frame</key>
			<string>{{0, 0}, {640, 480}}</string>
			<key>gridTolerance</key>
			<real>10</real>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>FDFD016A-17C7-45D0-AC29-DFA2177AAD9F</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>anchorCorner</key>
				<integer>4</integer>
				<key>anchorSize</key>
				<string>{0, 0}</string>
				<key>group</key>
				<integer>1</integer>
				<key>height</key>
				<real>480</real>
				<key>resolution</key>
				<real>72</real>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>640</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>rulerOriginCorner</key>
			<integer>0</integer>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{320, 240}</string>
			<key>stroke1Color</key>
			<string></string>
			<key>stroke1Enabled</key>
			<false/>
			<key>stroke2Color</key>
			<string></string>
			<key>stroke2Enabled</key>
			<false/>
			<key>strokeColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>strokeLineCap</key>
			<integer>1</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>1</real>
			<key>strokeShadowBlur</key>
			<real>3</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>2</real>
			<key>strokeShadowOffsetY</key>
			<real>2</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 1</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>image_ref_counts</key>
	<dict/>
	<key>version</key>
	<integer>8</integer>
</dict>
</plist>
